@import "./partials/custom-themes/main-custom-themes.css";
@import "./partials/header/main-header.css";
@import "./partials/lottery/main-lottery.css";
@import "./partials/intro-golestan/main-intro-golestan.css";
