.main-intro-golestan {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .main-intro-golestan-wrapper {
    width: 700px;
    max-width: 700px;
    height: 620px;
    background-color: yellowgreen;
    .intro-golestan {
      width: 100%;
      height: 100%;
      background-color: brown;
      display: flex;
      flex-direction: column;
      align-items: center;
      .intro-golestan-heading {
        width: 100%;
        height: 40px;
        background-color: floralwhite;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        .intro-golestan-heading-h2 {
          color: var(--e-global-color-primary);
          font-family: var(--font-family-light);
          font-size: 20px;
          font-weight: 700;
        }
      }
    }
  }
}
