footer {
  width: 100%;
  margin-top: 100px;
}
footer > div.footer-width-fixer {
}
footer > div.footer-width-fixer > section.footer-socail {
  width: 100%;
  background-color: #eeefef;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
footer > div.footer-width-fixer > section.footer-socail > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 18px;
  padding: 10px;
}
footer > div.footer-width-fixer > section.footer-socail > div > div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}
footer > div.footer-width-fixer > section.footer-socail > div > div > a {
  display: block;
  height: 55px;
  width: 55px;
  line-height: 55px;
}
footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-facebook {
  background: url("../../../public/images/icon5-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}
footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-facebook:nth-of-type(1):hover {
  background: url("../../../public/images/icon5-1-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}
footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-linkdin {
  background: url("../../../public/images/icon4-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}

footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-instagram {
  background: url("../../../public/images/icon3-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}
footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-telegram {
  background: url("../../../public/images/icon2-1-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}
footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-aparat {
  background: url("../../../public/images/icon1-1-1.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}
footer
  > div.footer-width-fixer
  > section.footer-socail
  > div
  > div
  > a
  > div.icon-mag-golestan {
  background: url("../../../public/images/icon6-1-2.png");
  background-repeat: no-repeat;
  background-size: auto;
  height: 55px;
  width: 55px;
}
section.footer-divider-border {
  width: 100%;
  height: 25px;
  background-color: #ed1c24;
}
section.footer-menu {
  width: 100%;
  background: url("../../../public/images/header-back.png");
}
section.footer-menu > div.footer-menu-wrapper {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.footer-menu > div.footer-menu-wrapper > div.footer-boxes {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.footer-menu > div.footer-menu-wrapper > div.footer-boxes > div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding: 0 25px;
  box-sizing: border-box;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box {
  width: 100%;
  padding: 25px;
  box-sizing: border-box;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div {
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.footer-image {
  width: 100%;
  margin-bottom: 21px;
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s,
    transform var(--e-transform-transition-duration, 0.4s);
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.footer-image
  > img {
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.divider-footer {
  border-top: var(--divider-border-width) var(--divider-border-style)
    var(--divider-color);
  width: 100%;
  margin-bottom: 21px;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.title-footer {
  width: 100%;
  margin-bottom: 21px;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.title-footer
  > h2 {
  color: #ffffff;
  font-family: var(--font-family);
  font-size: 16px;
  font-weight: 100;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.menu-list-footer {
  width: 100%;
  margin-bottom: 21px;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.menu-list-footer
  > div {
  width: 100%;
  height: 40px;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.menu-list-footer
  > div
  > a {
  display: block;
  width: 100%;
  height: 40px;
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 100;
  line-height: 28px;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.menu-list-footer
  > div
  > a
  > span {
  font-family: var(--font-family);
  font-size: 13px;
  font-weight: 100;
  line-height: 28px;
  color: #bcbec0;
  transition: color 0.3s;
}
section.footer-menu
  > div.footer-menu-wrapper
  > div.footer-boxes
  > div
  > div.box
  > div
  > div.menu-list-footer
  > div
  > a
  > span:hover {
  color: #fff;
  font-weight: 900;
}
section.footer-copyRight {
  width: 100%;
  background: url("../../../public/images/header-back.png");
  transition: background 0.3s, border 0.3s, border-radius 0.3s, box-shadow 0.3s;
}
section.footer-copyRight > div.footer-copyRight-wrapper {
  width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
section.footer-copyRight > div.footer-copyRight-wrapper > div {
  width: 100%;
  text-align: center;
  padding: 0 15px;
  box-sizing: border-box;
}
section.footer-copyRight
  > div.footer-copyRight-wrapper
  > div
  > div.footer-all-right {
}
section.footer-copyRight
  > div.footer-copyRight-wrapper
  > div
  > div.footer-all-right
  > span {
  color: #9f9f9f;
  font-size: 15px;
}
section.footer-copyRight
  > div.footer-copyRight-wrapper
  > div
  > div.footer-design {
  color: #7b7b7b;
  font-size: 14px;
}
