@import url("./footer-socail/footer-socail.css");
@import url("./footer-link/footer-link.css");
footer {
  width: 100%;
}
.footer__bg__divider {
  width: 100%;
  height: 25px;
  background-color: #ed1c24;
}
