@import "./header-logo/main-header-logo.css";
@import "./header-navbar/main-header-navbar.css";
.main-header {
  width: 100%;
  height: 100px;
  .header {
    width: 100%;
    height: 100%;
    position: relative;
    .header-wrapper {
      width: 100%;
      height: 100px;
      background-color: #282828;
      background-image: url("../../../../../../public/images/header/header-back-1.png");
      opacity: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 99999;
      .header-container {
        width: 65%;
        height: 100%;
        .header-container-wrapper {
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
    }
  }
}
